<app-navbar2></app-navbar2>

<div id="header"><h1>Login</h1></div>

<form class="container" [formGroup]="form">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <span style="color: red;" *ngIf="form.get('email').errors">*</span>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      formControlName="email"
      >
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3" >
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <span style="color: red;" *ngIf="form.get('password').errors">*</span>
      <input type="password" class="form-control" id="exampleInputPassword1"
      formControlName="password"
      >
    </div>
    <!-- <button type="button" class="btn btn-warning" [disabled]="form.invalid" >LOGIN</button> -->
    <button type="button" class="btn btn-warning" (click)="submit()">LOGIN</button>
    
    <br>
    <a id="register1" class="container" [routerLink]="['/register']">
      Sign up
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
      </svg> 
    </a>
    
  </form>



  <app-bottompage></app-bottompage>
  

  
