<app-navbar></app-navbar>

<div id="head1">
    <h1>Contact us</h1>
</div>

<div class="box-1">
    <div class="shadow p-3 mb-5 bg-white rounded">
        <h4 class="head2">Opening time</h4>
        <p class="info">Please contact us on Monday – Friday
            Time: 8.00 a.m. – 5.00 p.m. (Thailand local time)</p>
    </div>
</div>

<div class="box-2">
    <div class="shadow p-3 mb-5 bg-white rounded">
        <h4 class="head2">Address</h4>
        <img src="https://res.cloudinary.com/baanfinder/image/private/t_project_gallery_size/slu0xzwayn9fgalj1rp2.jpg" alt="">
        <p class="info">Grand Canal Land Public Company Limited
            33/4 Rama IX Road, Huaykwang, Bangkok 10310</p>
    </div>
</div>

<div class="box-1">
    <div class="shadow p-3 mb-5 bg-white rounded">
        <h4 class="head2">Telephone and Email</h4>
        <p class="info"><i>Telephone number : </i> <i>081-234-5678</i></p>
        <p class="info"><i>Email : </i> <i>nunuinsurance@hotmail.com</i></p>
    </div>
</div>

<app-bottompage></app-bottompage>



