<app-navbar></app-navbar>
<div>
    <h2>Our products</h2>
</div>

<div>
    <div class="container">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/lionel-animals-to-follow-on-instagram-1568319926.jpg?crop=0.922xw:0.738xh;0.0555xw,0.142xh&resize=640:*" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Dog insurance</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-warning" [routerLink]="['/buytologin']">Buy now</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/lionel-animals-to-follow-on-instagram-1568319926.jpg?crop=0.922xw:0.738xh;0.0555xw,0.142xh&resize=640:*" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Cat insurance</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-warning" [routerLink]="['/buytologin']">Buy now</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/lionel-animals-to-follow-on-instagram-1568319926.jpg?crop=0.922xw:0.738xh;0.0555xw,0.142xh&resize=640:*" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Group insurance</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-warning" [routerLink]="['/buytologin']">Buy now</a>
                </div>
              </div>
          </div>
        </div>
      </div>
</div>

<app-bottompage></app-bottompage>
