<app-navbar></app-navbar>
<div>
    <h2>Our products</h2>
</div>

<div>
    <div class="container">
        <div class="row">
          <div class="col" *ngFor="let product of products">
            <div class="card" style="width: 18rem;" >
                <img src="https://media1.popsugar-assets.com/files/thumbor/oS9FzsU0rUgKJDJDOJckBgq5U4o/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2018/08/29/847/n/24155406/ba3cec068d2133cf_nirzar-pangarkar-217994-unsplash/i/Look-those-baby-blues.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">
                    {{ product.description }}
                  </p>
                  <a href="#" class="btn btn-warning" [routerLink]="['/login']" [state]="{ page: '/loginbuy' }" >Buy now</a>
                </div>
              </div>
          </div>
        </div>
      </div>
</div>

<app-bottompage></app-bottompage>
