<app-navbar3></app-navbar3>
<div>
    <h2>History purchase</h2>
</div>
<div id="table1">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Pet name</th>
            <th scope="col">Package</th>
            <th scope="col">Date</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let purchase of purchased; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>  purchase.pet.name   </td>
            <!-- <td> {{ purchase.pet.name }} </td> -->
            <td> {{ purchase.productDetails.name }} </td>
            <td> {{ purchase.purchaseDate.slice(0,10) }} </td>
            <td> {{ purchase.productDetails.price }} </td>
        </tr>
        </tbody>
    </table>
</div>