#border1{
    border-radius: 30px;
    height: 200px;
    width: 500px;
    margin-left: 30%;
    margin-top: 20px;
    margin-bottom: 30px;
}
#first{
    padding-top: 40px;
}
#thk{
    color: #525252;
}
h2{
    text-align: center;
    color: #525252;
    margin-top: 30px;
    margin-bottom: 30px;
}
h5{
    color: #525252;
}
hr{
    color: rgb(241, 190, 50);
}
button{
    margin-bottom: 30px;
    margin-left: 540px;
}
.total{
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 60px;
    text-align: center;
    color: #525252;
}
.row{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    color: #525252;
}
