<h2>Order</h2>
<hr>
<div>
    <div class="container">
        <div class="row">
          <div class="col">
            <img id="img1" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/lionel-animals-to-follow-on-instagram-1568319926.jpg?crop=0.922xw:0.738xh;0.0555xw,0.142xh&resize=640:*" width="130px" height="140px" class="img-thumbnail" alt="...">
          </div>
          <div class="col">
            <p id="head1">Cat insurance</p>
            <p id="price">Price : 1200 Baht/month</p> 
            <p id="price">Amount : x 1</p>
            <label id="head2">Pet name</label>
            
            <div><select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>

            <div>
                <button id="delete" type="button" class="btn btn-danger">Delete</button>
            </div>

          </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
              <img id="img1" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/lionel-animals-to-follow-on-instagram-1568319926.jpg?crop=0.922xw:0.738xh;0.0555xw,0.142xh&resize=640:*" width="130px" height="140px" class="img-thumbnail" alt="...">
            </div>
            <div class="col">
              <p id="head1">Cat insurance</p>
              <p id="price">Price : 1200 Baht/month</p>
              <p id="price">Amount : x 1</p>
              <label id="head2">Pet name</label>
            
                <div><select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    </select>
                </div>
                <div>
                    <button id="delete" type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
          </div>
</div>

<button id="buymore" type="button" class="btn btn-warning" [routerLink]="['/loginbuy']">
    Buy more 
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
        <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
    </svg>
</button>