<app-navbar></app-navbar>
<div>
    <h1 class="head1" >NUNU Insurance</h1>
</div>

<div class="box-2">
    <div class="shadow p-3 mb-5 bg-white rounded">
        <h4 class="head2">Our story</h4>
        <img src="../../assets/NUNU_INSURANCE.png" width="300px" height="300px" alt="">
        <p>Nunu insurance is one of famous pet insurance company in Thailand. We promise to give you the best experiance during partner period.</p>
    </div>
</div>

<div class="box-1">
    <div class="shadow p-3 mb-5 bg-white rounded">
        <h4 class="head2">Our history</h4>
        <p>Nunu insurance established in 2000, under the vision which being your best partner. We have served you the best products and services for 21 years and meant to serve it continously in the future.  </p>
    </div>
</div>

<div class="box-2">
    <div class="shadow p-3 mb-5 bg-white rounded">
        <h4 class="head2">Vision</h4>
        <p>" Being your best partner "</p>
    </div>
    
</div>

<app-bottompage></app-bottompage>
