<div class="shadow p-3 mb-5 bg-white">
    <h4 id="headtext">
        Personal detail
    </h4>
    <div>
        <p class="bodyText">
            <b>Name : </b>{{ user.firstname }} {{user.lastname}}
        </p>
        <p class="bodyText">
            <b>Email :</b> {{ user.email }}
        </p>
        
        <p class="bodyText">
            <b>CitizenId :</b> {{ user.citizenId.slice(0,9) }}xxxx
        </p>
        <p class="bodyText">
            <b>CitizenId :</b> {{ user.address }}
        </p>
        <p id="bodyText1">
            <b>Phone :</b> {{user.phone}}
        </p>
    </div>
</div>