<div class="shadow p-3 mb-5 bg-white">
    <h4 id="headtext">
        Personal detail
    </h4>
    <div>
        <p class="bodyText">
            <b>Name : </b>{{ name }}
        </p>
        <p class="bodyText">
            <b>Email :</b> {{ email }}
        </p>
        
        <p class="bodyText">
            <b>CitizenId :</b> {{ citizenId.slice(0,9) }}xxxx  
            <!-- // Cannot read property 'slice' of undefined -->
        </p>
        <!-- <p id="bodyText1">
            <b>Phone :</b> 0812345678
        </p> -->
    </div>
</div>