<div class="shadow p-3 mb-5 bg-white">
    <h4 id="headtext">
        Pet detail
    </h4>
    <div>
        <div *ngFor="let pet of pets" class="pet">
            <p class="bodyText">
                <b>Name : </b>{{pet.name}}
            </p>
            <p class="bodyText">
                <b>Ages :</b> {{pet.age}} month
            </p>
            <p class="bodyText">
                <b>Type :</b> {{pet.type}}
            </p>
            <p class="bodyText">
                <b>Breed :</b> {{pet.breed}}
            </p>
            <p class="bodyText">
                <b>Gender :</b> {{pet.gender}}
            </p>
            <p class="bodyText">
                <b>Products :</b>
            </p>
            <div *ngFor="let item of pet.productList">
                <p class="lead">
                    {{ item.product.name }}
                </p>
                <p class="lead">
                    OPD
                </p>
                <div class="progress">
                    <div class="progress-bar bg-warning" [style.width.%]="item.usedBudget.opd * 100 / item.product.opd" role="progressbar"
                    aria-valuenow="{{item.usedBudget.opd * 100 / item.product.opd}}" aria-valuemin="0" aria-valuemax="100">{{item.usedBudget.opd }} / {{item.product.opd}}</div>
                </div>
                <p class="lead">
                    Accident
                </p>
                <div class="progress" id="progress1">
                    <div class="progress-bar" [style.width.%]="item.usedBudget.accident * 100 / item.product.accident"  role="progressbar"
                    aria-valuenow="{{item.usedBudget.accident * 100 / item.product.accident}}" aria-valuemin="0" aria-valuemax="100">{{item.usedBudget.accident }} / {{item.product.accident}}</div>
                </div>
            </div>
        </div>
    </div>
</div>