<app-navbar3></app-navbar3>
<div>
    <h2>History Claim</h2>
</div>
<div id="table1">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Pet name</th>
            <th scope="col">Date of service</th>
            <th scope="col">Amount</th>
            <th scope="col">Claim type</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let claimss of claims; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{ claimss.pet.name }}</td>
            <td>{{ claimss.date.slice(0,10) }}</td>
            <td>{{ claimss.amount }}</td>
            <td>{{ claimss.type }}</td>
            <td>{{ claimss.status }}</td>
        </tr>
        <!-- <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>12/12/2020</td>
            <td>1000</td>
            <td>OPD</td>
            <td>Done</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>12/12/2020</td>
            <td>1000</td>
            <td>OPD</td>
            <td>In progress</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Boh</td>
            <td>12/12/2020</td>
            <td>1000</td>
            <td>Accident</td>
            <td>Done</td>
        </tr> -->
        </tbody>
    </table>
</div>