
<div class="row">
    <div id="below" class="col-sm-3">
        <h5><i>Question?</i></h5>
        <hr>
        <a [routerLink]="['/about']"><i>About us</i></a>
        <br>
        <a><i>FAQ</i></a>
        <br>
        <a [routerLink]="['/contactus']"><i>Contact us</i></a>
    </div>
    <div id="below" class="col-sm-3">
        <h5><i>Page</i></h5>
        <hr>
        <a [routerLink]="['/ourproduct']"><i>Our products</i></a>
        <br>
        <a [routerLink]="['/login']"><i>Login</i></a>
    </div>
    <div id="below" class="col-sm-3">
        <h5><i>About us</i></h5>
        <hr>
        <p><i>Tel : 081-234-5678</i></p>
        <p><i>Address : 404/12 Asoke rd, S-tower Bangkok 10120</i></p>
    </div>
</div>


