<div>
    <h2>Order summary</h2>
    <hr id="line1">
</div>

<div id="border1" class="shadow bg-white ">
    <div class="row">
        <div class="col" id="first">
            <h5>
                Product name
            </h5>
        </div>
        <div class="col" id="first">
            <h5>
                Product price
            </h5>
        </div>
    <div class="row" *ngFor="let product of products">
        <div class="col" >
            <p>
                {{ product.name }} 
            </p>
        </div>
        <div class="col" >
            <p>
                {{ product.price }}
            </p>
        </div>
      </div>
    </div>

      

      <hr>
      <div class="total" >
        <p><b>Total price : </b> <span>{{ total }}</span> </p>
      </div>
      
</div>

<div id="checkout">
    <button type="button" class="btn btn-warning" id="textbut" [routerLink]="['/payrate'] " [state]="{data: products}">Checkout</button>
</div>



