<div>
    <h2>Order summary</h2>
    <hr id="line1">
</div>

<div id="border1" class="shadow bg-white ">
    <div class="row">
        <div class="col" id="first">
            <p>
                Cat insurance 
            </p>
        </div>
        <div class="col" id="first">
            <p>
                x 1
            </p>
        </div>
        <div class="col" id="first">
            <p>
                1200 Baht/month
            </p>
        </div>
      </div>

      <div class="row">
        <div class="col">
            <p>
                Cat insurance 
            </p>
        </div>
        <div class="col">
            <p>
                x 1
            </p>
        </div>
        <div class="col">
            <p>
                1200 Baht/month
            </p>
        </div>
      </div>

      <hr>
      <div class="total">
        <p><b>Total :</b> 2400 Baht/month</p>
      </div>
      
</div>

<div id="checkout">
    <button type="button" class="btn btn-warning" id="textbut" [routerLink]="['/payrate']">Checkout</button>
</div>

