<div id="nav1">
    <img src="../../assets/NUNU_INSURANCE1.png" width="150px" height="140px">
  </div>
  
  <div id="nav2">
    <span class="info"><i><b>Tel : </b>081-234-5678</i></span>
    <span class="info"><i><b>Email : </b> nunuinsurance@hotmail.com</i></span>
  </div>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a id="navtext1" class="nav-link active" aria-current="page" href="#">HOME</a>
            </li>
            <li class="nav-item">
              <a id="navtext" class="nav-link" [routerLink]="['/ourproduct']">OUR PRODUCTS</a>
            </li>
            <li class="nav-item">
              <a id="navtext" class="nav-link" [routerLink]="['/about']">ABOUT US</a>
            </li>
            <li class="nav-item">
              <a id="navtext" class="nav-link" [routerLink]="['/contactus']">CONTACT US</a>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-outline-warning" [routerLink]="['']">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5.5a.5.5 0 0 0 0-1H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5z"/>
                  </svg>  Back
                </button>
            </li>
          </ul>
        </div>
      </div>
  </nav>
