#nav1{
    background-color: white ;
    text-align: center;
}
#nav2{
    text-align: right;
    color: #545454;
    padding-bottom: 5px;
}
#navtext{
    padding-right: 40px;
}
#navtext1{
    padding-left: 100px;
    padding-right: 60px;
}
#navtext2{
    margin-right: 20px;
    
}
#drop{
    padding-left: 40px;
}
#claimbutton{
    margin-right: 20px;
}
button{
    text-align: center;
}
.info{
    padding-right:40px;
}
.bg-dark {
    background-color: #525252!important;
    color:#525252;
}

