h2{
    text-align: center;
    color: #525252;
    margin-top: 40px;
    margin-bottom: 30px;
}
.card{
    margin-bottom: 50px;
    margin-left: 200px;
}
#addbut{
    margin-left: 60px;
    margin-bottom: 10px;
}
#checkbut{
    margin-left: 190px;
    margin-top: 20px;
}
h4{
    text-align: center;
    color: #525252;
}
h6{
    
    color: #525252;
}
#checkout{
    margin-left: 180px !important;
}
#delete{
    margin-left: 320px;
    margin-top: 10px;
}
#productname{
    padding-left: 30px;
}