<app-navbar></app-navbar>

<div>
    <h2>
        FAQ?
    </h2>
</div>

<div class="box-1">
    <div class="shadow p-3 mb-5 bg-white rounded">
        <h4>Will you drop a pet from coverage because of age?</h4>
        <p>
            Never. As long as you keep your policy continually in force (translation: don't let it lapse or expire), we promise not to drop your pet. After all, we're pet lovers, too!
        </p>
    </div>
</div>

<div class="box-2">
    <div class="shadow p-3 mb-5 bg-white rounded">
        <h4>Once I enroll, how long before my policy is effective?</h4>
        <p>
            We've provided you in no waiting period once your application is approved and we receive payment.
        </p>
    </div>
</div>

<div class="box-1">
    <div class="shadow p-3 mb-5 bg-white rounded">
        <h4>Can I cancel my policy before the term is up?</h4>
        <p>
            Absolutely. You can cancel anytime at our website or by letting us know in writing.

We even have a 100% money-back guarantee if you cancel within 10 days* of when your policy went into effect and we haven’t reimbursed you for any claims in that time.

If you decide to cancel later on, no problem—we’ll simply refund your unused premium.

* Terms may vary by state.
        </p>
    </div>
</div>

<app-bottompage></app-bottompage>